* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

.navbar-brand {
    font-size: 40px;
    color: rgb(35, 66, 103);
    font-weight: 900;
    margin-left: 30px;
}

.NavUl {
    margin-left: auto;
}

.nav-link,
.dropdown-menu {
    margin-left: auto;
    color: rgb(38, 96, 166);
}

.navbar-brand:hover,
.dropdown-menu:hover {
    color: rgb(53, 86, 125);
    
}
.navbar-nav .nav-link {
    color: rgb(38, 96, 166) !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(53, 86, 125) !important;
}
.navbar-toggler,.navbar-toggler-icon{
    color: rgb(119, 142, 169) !important;
        background-color:rgb(59, 93, 134) ;
}
.btn{
    margin-right: auto;
    border: 0 white solid;
    border-radius: 20px;
    background-color: rgb(38, 96, 166);
}
.btn:hover{
    background-color: rgb(38, 96, 166);
}
.h1-jumbotron,.h1-our-doctors{
    font-size: 35px;
        color: rgb(35, 66, 103);
        font-weight: 900;
}
.p-jumbotron{
    color: rgb(38, 96, 166);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    grid-template-rows: repeat(2, 200px);
    /* Two rows, each 200px tall */
    gap: 10px;
    /* Gap between grid items */
}

.grid-item {
    background-color: #ccc;
    /* Gray background */
}
.h1-our-doctors{
    text-align: center;
    
}
.card-text {
    overflow: hidden;
    /* Hide any overflowing text */
    white-space: nowrap;
    /* Prevent text from wrapping */
    text-overflow: ellipsis;
    /* Display an ellipsis (...) when text overflows */
}